$main-font: 'Gudea', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.List-Item-custom {
    padding-left: 30px;
    border: none;
}

.profile-container {
    height: 210px;
    padding: 10px;
    margin: auto;

    .picture {
        width: 180px;
        height: 180px;
        border-radius: 100px;
        background-color: white;
        margin: auto;
        overflow: hidden;

        img {
            position: relative;
            left: -14%;
            height: 100%;
            margin: auto;
        }
    }
}
.sidebar {
    color: white;
    font-family: $main-font;
    padding: 20px;
    background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
}

h3 {
    color: white;
    font-style: italic;
}
.sidebar h3:hover {
    color: lightgray;
    cursor: pointer;
}